openapi: '3.0.0'
info:
  version: 1.0.0
  title: Kohhee Peace
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /repos:
    get:
      summary: List all repos
      operationId: listRepos
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of repos
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repos'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create repo
      operationId: createRepo
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /repos/{repoId}:
    get:
      summary: Get repo info
      operationId: showRepoById
      parameters:
        - name: repoId
          in: path
          required: true
          description: The id of the repo to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Repos'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /commits:
    get:
      summary: List all commits
      operationId: listCommits
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of commits
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Commits'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create commit
      operationId: createCommit
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Repo:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        language:
          type: string
    Repos:
      type: array
      items:
        $ref: '#/components/schemas/Repo'
    Commit:
      required:
        - id
        - message
      properties:
        id:
          type: integer
          format: int64
        message:
          type: string
        author:
          type: string
    Commits:
      type: array
      items:
        $ref: '#/components/schemas/Commit'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string